[project]
	description = This is a test repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sara-arbabyazd
[access "refs/for/refs/*"]
	read = group user/sara-arbabyazd
	push = group user/sara-arbabyazd
	label-Code-Review = -2..+2 group user/sara-arbabyazd
	label-Verified = -1..+1 group user/sara-arbabyazd
	rebase = group user/sara-arbabyazd
	removeReviewer = group user/sara-arbabyazd
	submit = group user/sara-arbabyazd
[access "refs/heads/*"]
	read = group user/sara-arbabyazd
	create = group user/sara-arbabyazd
	push = +force group user/sara-arbabyazd
	pushMerge = group user/sara-arbabyazd
[access "refs/tags/*"]
	push = +force group user/sara-arbabyazd
	pushTag = group user/sara-arbabyazd
	pushSignedTag = group user/sara-arbabyazd
